.box{
	border:1px solid #ccc;
}
.box.borderless{
	border:0px;
}		
.box .chat{
	width: 85%;
	height: 200px;
	overflow-y: auto;
}
.box.sender{
	width: 85%;
	height: 80px;
	overflow-y: auto;		
}
.chatmessage{
	margin-top: 5px
}
.chatmessage.left{
	text-align: left; background-color: rgba(236,229,221,0.5);
}
.chatmessage.right{
	text-align: right; background-color: rgba(220,248,198,0.5);
}